<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moviepedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Moviepedia.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body {
            font-family: 'Montserrat';
        }
    </style>
</head>
<body class="bg-dark bg-gradient text-info">
    <header>
        <nav class="navbar fixed-top bg-dark bg-gradient">
            <div class="container-fluid">
                <a class="navbar-brand text-info" asp-action="Index" asp-controller="Movies">
                    <img src="@Url.Content("~/Images/logo.png")" width="25" height="25" class="d-inline-block align-text-top">
                    Moviepedia
                </a>
                <form asp-action="Search" asp-controller="Movies" class="d-flex" role="search" style="width:30%">
                    <input class="form-control me-2 border-info" type="search" placeholder="Search" name="searchString" aria-label="Search" >
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
                <a class="btn btn-outline-info" asp-action="Registration" asp-controller="Account">
                    Sign in
                </a>
                
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
