@model Moviepedia.Models.Genre

<div class="row" style="position:absolute; margin-left:35vw; margin-top:40vh">
    <div class="col-md-4">
        <form asp-action="CreateGenre" style="min-width:30vw">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label h3"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
            <br />
            <a asp-action="GetGenres" class="btn btn-outline-info">Back to list </a>
        </form>
    </div>
</div>