html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.movies {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 5rem
}
