html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.movies {
    flex-grow:1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    align-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 5rem;
}
.mainpage{
    display:flex;
    flex-flow:row nowrap;
    margin-left:2rem;
    min-height:80vh;
}

.filter{
    flex-shrink:1;
    align-self:start;
    display:flex;
    flex-flow:column;
    max-height:100vh;
    margin-top:8vh;
}

.details{
    display:flex;
    flex-flow:row nowrap;
    align-content:center;
    justify-content:space-between;
    align-items:flex-start;
    margin-top:10vh;
    margin-left:30vw;
    position:absolute
}

.reviews {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width:50vw;
    max-height:60vh;
}

.reviews2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80vw;
    max-height: 80vh;
}
