@model Moviepedia.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Password change";
}
    <div style="display:flex; flex-flow:column; height:100%; width:100%; position:absolute; right:0; left:0;">
        <form method="post" asp-action="ChangePassword" asp-controller="Account" 
            style="margin:auto; width:30%;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Old password</label>
                <input type="password" asp-for="OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New password</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm"></label><br />
                <input asp-for="PasswordConfirm" class="form-control"/>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-outline-info" />
            </div>
        </form>
    </div>

