
@{
    ViewData["Title"] = "Success";
}
<div style="display:flex; height:100%; width:100%; position:absolute; right:0; left:0;">
    <div style="margin:auto; display:flex; flex-direction:column; text-align:center">
        <h2 style="margin:auto; max-width:30vw;">@ViewBag.Msg</h2>
        <br />
        <a class="btn btn-outline-info" style="max-width:10vw;" asp-action="Index" asp-controller="Movies">
            To main page
        </a>
    </div>
</div>


